

# define the types of log messages
logTypes: servlet,db,task,iconnect,event,billing,workplan,objutils,qwest,equifax,users,sales,lsog,automation,brandx,linetest,cos

# define the log levels - lowest to highest
logLevels: info,warn,error,off

# set default properties for all log messages

# defaultLogFile: /apps/webadmin/SUNWappserver/domains/mvnoprod/logs/mvno_api.log

defaultLogFile: D:/glassfish3/glassfish/domains/domain1/logs/mvno_api.log
defaultLogLevel: info
defaultLogTimestamp: true


# Following params are MVNO Specific - note the difference
ORBINITPORTVAR=-ORBInitialPort
ORBINITPORT=4030
ORBINITHOSTVAR=-ORBInitialHost
ORBINITHOST=155.90.88.23
ORBOBJECTREFNAME=m2m

MVNOUSERID=PRIMUS5
MVNOPASSWORD=MUS29P
KEYINCREMENTSIZE=5
